* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';   
    box-sizing: border-box;
}



/* ------------------------------ */
/* ------------NAVBAR------------ */
/* ------------------------------ */

.navbar { 
    height: 10vh;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 2fr;
    color: #ffffff;
    margin-bottom: 0;
    
}
.line {
    border-left: 2px solid #5D5D5D;
    height: 4rem;
    margin: 0.5rem;
    margin-left: 4rem;
  }

.logo {
    display: block;
    margin: 1.2rem;
    margin-left:5rem;
    width: 8rem;
}


.list {
    display: flex;
    text-decoration: none;
    justify-content: start;
    margin-top: 2rem;
}

.list-item {
    display: inline-block;
    margin: 0 1.5rem;
    cursor: pointer;
    padding: 0.2rem;
}




.button-small {
    display: block;
    background-color: #BB44C5;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1.5rem;
}




/* ------------------------------ */
/* ------------HERO------------ */
/* ------------------------------ */

.hero {
    height: 90vh;
    background-image: url(./assets//bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    padding-top: 10rem;
}

.hero-heading {
    font-size: 5rem; 
    margin: 0 20% ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;    
}


.hero-description {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.button-large {
    display: block;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #BB44C5;
    margin: 2rem auto;
    border: none;
    border-radius: 10px;
}
